@using Adopte1DevCore.Models
@model Adopte1DevCore.ASP.Models.TabControlComponentViewModel
@{ 

    string active = "active";
    string activeContent = "active in";
}
<div class="category-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            @foreach (CategoryModel item in Model.Categories)
            {
               
                @:<li class="@active"><a href="#Tab_@item.CategoryId"  data-toggle="tab">@item.Label</a></li>
               active = "";
            }
        </ul>
    </div>
    <div>        
    </div>
    <div class="tab-content">
        @foreach (CategoryModel item in Model.Categories)
        {
             
            @:<div class="tab-pane fade @activeContent" id="Tab_@item.CategoryId">
                @foreach (UserModel um in item.Users.Take(4))
                {
                    @:<div class="col-sm-3">
                        @:<div class="product-image-wrapper">
                            @:<div class="single-products">
                                @:<div class="productinfo text-center">
                                    @:<img src="@um.Photo" alt="" />
                                    @:<h2>A partir de @um.MinPrice €</h2>
                                    @:<p>@um.FirstName @um.LastName</p>
                                    @:<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-envelope-o"></i>Contacter</a>
                                @:</div>
                            @:</div>
                        @:</div>
                    @:</div>
                }
            @:</div>
        activeContent = "";
        }
        @*<div class="tab-pane fade" id="blazers">
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/home/gallery4.jpg" alt="" />
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/home/gallery3.jpg" alt="" />
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/home/gallery2.jpg" alt="" />
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/home/gallery1.jpg" alt="" />
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@


    </div>
</div><!--/category-tab-->